@import url('https://sericakitty.github.io/styles.css');


:root {

  --main-btn-color: rgb(245, 111, 245);

}

main {
  margin: 0 auto;
  line-height: 30px;
}

#header {
  text-align: center;
}

.sourcecode {
  display: inline-block;
  text-align: center;
}


.sourcecodelink {
  color: var(--src-code-color);
}

.sourcecodelink:hover {
  color: var(--src-code-hover);
}

/* Container just for centering elements --------------------------------------------- */

.centeringcontainer {
  text-align: center;
  margin: 0 auto;
}


/* Flexbox for imgs in Python projects */

.flexboxforimages {
  margin: 50px 0px 30px 0px;
}

.btn {
  color: var(--btn-text-color);
  background-color: var(--main-btn-color);
  border-radius: 8px;
  width: 100px;
  margin-top: 10px;

}

.inputfield {
  width: 210px;
}

.container {
  position: relative;
}

/* Center ball pic row */
.centeringcontainer {
  text-align: center;
  margin: 0 auto;
}

.rightarrow {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  min-height: 5px;
  min-width: 5px;
}

.leftarrow {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  min-height: 5px;
  min-width: 5px;
}

.theballcontainer {
  margin: 0 auto;
}

/* centerring theball image */
.theball {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


#startSection {
  display: 'block';
}

#addSection {
  display: none;
}

#expectedSection {
  display: none;
}

#drawSection {
  display: none;
}

#experimentSection {
  display: none;

}


#resetButton {
  display: none;

  margin: 50px auto;
}


.outputcontainer {
  margin-top: 30px;
}